<!-- usando o include do ejs para utilizar partial, como se fosse componentes na pagina com relação ao react -->
<%- include('partials/header') %>

<body>
    <%- include('partials/navbar') %>    
    <div class="container">
        <div class="card formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/salvarpergunta">
                    <Label>Titulo</Label>
                    <input class="form-control" type="text" name="" id="" placeholder="Titulo">
                    <br>
                    <Label>Descrição</Label>
                    <textarea class="form-control" placeholder="Descreva sua pergunta." name="" id=""></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
            
        </div>
    </div>


    </div>
</body>

<%- include('partials/footer') %>
