<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
    <!-- Como estamos trabalhando com express, automaticamente ele ja vai procurar uma pasta css na pasta public, que ira funcionar.  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Realizar pergunta</h1>
        <form action="">
            <Label>Titulo</Label>
            <input class="form-control" type="text"  name="" id="" placeholder="Titulo">
            <br>
            <Label>Descrição</Label>
            <textarea class="form-control" placeholder="Descreva sua pergunta." name="" id=""></textarea>
            <br>
            <button class="btn btn-success">Perguntar</button>
        </form>
    </div>
</body>
</html>